<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Customer Information</h2>
			<div class="list-group">
				<p class="list-group-item list-group-item-success"><%= @job.customer.name %></p>
				<p class="list-group-item list-group-item-danger"><%= @job.customer.email %></p>
				<p class="list-group-item list-group-item-info"><%= @job.customer.account_number %></p>
				<p class="list-group-item list-group-item-warning"><%= @job.customer.phone_one %></p>
				<p class="list-group-item list-group-item-danger"><%= @job.customer.phone_two %></p>
				<p class="list-group-item list-group-item-success"><%= @job.customer.phone_three %></p>
				<p class="list-group-item list-group-item-info"><%= @job.customer.phone_four %></p>
				
				
				<p class="list-group-item list-group-item-warning">
				<a href="https://www.google.com/maps/search/<%= @job.customer.street %> <%= @job.customer.city %> <%= @job.customer.state %> <%= @job.customer.zip %>" target="_blank">Cust Add: <%= @job.customer.street %> <%= @job.customer.city %> <%= @job.customer.state %> <%= @job.customer.zip %></a> 
				</p>

				<p class="list-group-item list-group-item-danger">
				<a href="https://www.google.com/maps/search/<%= @job.address %> <%= @job.city %> <%= @job.state %> <%= @job.zip %>" target="_blank">Job Add: <%= @job.address %> <%= @job.city %> <%= @job.state %> <%= @job.zip %></a> 
				</p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Job I.D. # <%= @job.id %></h2>
			<%= form_for(@job, :remote => true, class: 'form-horizontal', :html => { :id => "form_correct" }) do |f| %>
				<fieldset>
					<div class = "form-group">
						<%= f.label :employee %>
						<%= f.collection_select(:user_id, @users, :id, :email, class: "form-control") %>	
					</div>

					<div class = "form-group">
						<%= f.label "Date YYYY-MM-DD" %>
						<%= f.text_field :date, class: "form-control" %>
					</div>
					
					<div class = "form-group">
						<%= f.label :time %>
						<%= f.select :time, ['','730','745','800','815','830','845','900','915','930','945','1000',
							'1015', '1030','1045', '1100','1115','1130','1145',
							'1200','1215','1230','1245','1300','1315','1330','1345','1400','1415','1430',
							'1445','1500','1515', '1530','1545','1600','1615','1630','1645','1700','1715',
							'1730','1745','1800'], class: "form-control"%>
					</div>
					
					<div class = "form-group">
						<%= f.label :time_sensitive %>
						<%= f.check_box :time_sensitive %>
					</div>

					<div class = "form-group">
						<%= f.label :address %>
						<%= f.text_field :address, class: "form-control" %>
					</div>

					<div class = "form-group">
						<%= f.label :city %>
						<%= f.text_field :city, class: "form-control" %>
					</div>

					<div class = "form-group">
						<%= f.label :state %>
						<%= f.text_field :state, class: "form-control" %>
					</div>

					<div class = "form-group">
						<%= f.label :zip %>
						<%= f.text_field :zip, class: "form-control" %>
					</div>

					<div class = "form-group">
						<%= f.label :special_job_instructions %>
						<%= f.text_area :special_job_instructions, class: "form-control", rows: "10" %>
					</div>
					
					<div class = "form-group">
						<%= f.label :description %>
						<%= f.text_area :description, class: "form-control", rows: "10" %>
					</div>

					<div class = "form-group">
						<%= f.label :work_completed %>
						<%= f.text_area :work_completed, class: "form-control", rows: "10" %>
					</div>
					
					<div class = "form-group">
						<%= f.label :billing_information %>
						<%= f.text_area :billing_information, class: "form-control", rows: "10" %>
					</div>

					<div class = "form-group">
						<%= f.label :notes %>
						<%= f.text_area :notes, class: "form-control", rows: "10" %>
					</div>
					<% if @cur_user.level == "Admin" %>
						<div class = "form-group">
							<%= f.label :status %>
							<%= f.select :status, ['Waiting To Be Scheduled', 'Scheduled', 'Scheduled & Released', 'Incomplete', 'Completed But Not Billed', 'Completed And Billed', 'Complete'], class: "form-control"%>
						</div>
					<% end %>

					<div class = "form-group">
						<%= f.submit(class: "btn btn-primary btn-sm", :id => "action") %>
					</div>
				</fieldset>
			<% end %> 
		</div>
	</div>
</div>
<footer>
	<ul id="footer-buttons">  
        <li><%= link_to "Email A Receipt", new_receipt_path(), class: "btn btn-primary btn-md" %></li>     
        <li><%= link_to "View Receipts", job_receipts_path(@job), class: "btn btn-primary btn-md" %></li>
		<li><%= link_to "View Pages", job_pages_path(@job), class: "btn btn-primary btn-md" %></li>
    </ul>
</footer>