<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Customer Information</h2>
			<div class="list-group">
				<p class="list-group-item list-group-item-success"><%= @customer.name %></p>
				<p class="list-group-item list-group-item-danger"><%= @customer.email %></p>
				<p class="list-group-item list-group-item-info"><%= @customer.account_number %></p>
				<p class="list-group-item list-group-item-warning"><%= @customer.phone_one %></p>
				<p class="list-group-item list-group-item-danger"><%= @customer.phone_two %></p>
				<p class="list-group-item list-group-item-success"><%= @customer.phone_three %></p>
				<p class="list-group-item list-group-item-info"><%= @customer.phone_four %></p>
				
				
				<p class="list-group-item list-group-item-warning">
				<a href="https://www.google.com/maps/search/<%= @customer.street %> <%= @customer.city %> <%= @customer.state %> <%= @customer.zip %>" target="_blank">Cust Add: <%= @customer.street %> <%= @customer.city %> <%= @customer.state %> <%= @customer.zip %></a> 
				</p>

				
			</div>
		</div>
	</div>
</div>
<hr>


<center><h1>Jobs</h1></center>

<table class="table table-bordered">
	<tr>
		<th width="100">City</th> 
		<th width="100">Employee</th>
		<th width="125">Date</th> 
		<th width="75">Time</th> 
		<th width="700">Description</th> 
		<th width="10">Edit</th>
		<th width="10">Delete</th>	
	</tr>	
	<% @jobs.each do |f| %>
		<% if f.time_sensitive? %>
		<tr bgcolor="#F77E7E">
		<% else %>
		<tr>
		<% end %>
			
			<td><%= 
					if f.city.nil? or f.city.to_s.empty?
						f.customer.city
					else
						f.city
					end
			%></td>
			<td><%= f.user.email %></td>
			<td><%= 
				if f.date.nil? or f.date.to_s.empty?
					f.date
				else
					f.date.strftime('%a %d %b %Y') 
				end
			%></td>
			<td><%= 
				if f.time.to_s.length == 4
					f.time = f.time.to_s.insert(2, ":")
				elsif f.time.to_s.length == 3
					f.time = f.time.to_s.insert(1, ":")
				else
					f.time
				end
			%></td>
			<td><%= f.description %></td>
			<td><%= link_to "", edit_job_path(f),  class: "glyphicon glyphicon-pencil" %></td> 
			<td><%= link_to "", job_path(f), data:{confirm: 'Are you sure?'}, class: "glyphicon glyphicon-trash", method: :delete %></td>
		</tr>
	<% end %>
</table>
<br><br>

<center><h1>Notes</h1></center>

<table class="table table-bordered">
		<th width="250">Created At</th> <th>Description</th> <th width="10">Edit</th> <th width="10">Delete</th> 
		<% @messages.each do |f| %>
			<tr>
				<td><%= f.created_at %></td>
				<td><%= f.description %></td>
				<td><%= link_to "", edit_message_path(f), class: "glyphicon glyphicon-pencil" %> </td>
				<td><%= link_to "", message_path(f), data:{confirm: 'Are you sure?'}, class: "glyphicon glyphicon-trash",  method: :delete %></td>
			</tr>
		<% end %>
</table>
