<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Edit Call List Record</h2>
				<%= form_for(@call_list, :remote => true, :html => { :id => "form_correct" }) do |f|  %>
					<fieldset>
						<div class = "form-group">
							<%= f.label "Name (cannot be blank)" %>
							<%= f.text_field :name, class: "form-control" %>
						</div>
						
						<div class = "form-group">
							<%= f.label "Phone (xxx-xxx-xxxx ext 1234)" %>
							<%= f.text_field :phone, class: "form-control" %>
						</div>
						
						<div class = "form-group">
							<%= f.label :description %>
							<%= f.text_field :description, class: "form-control" %>
						</div>

						<div class = "form-group">
							<%= f.submit(class: "btn btn-primary btn-sm", :id => "action") %>
						</div>
					</fieldset>
				<% end %> 

		</div>
	</div>
</div>