<center><h1>Call List</h1></center>

<br>
<p>
	<%= link_to "Add To Call List", new_call_list_path, class: "btn btn-primary btn-sm" %>
</p>
<table class="table table-bordered">
	<tr>
		<th>Name</th> <th>Phone</th> <th>Description</th> <th width="10">Edit</th> <th width="10">Delete</th> 
	<% @call_lists.each do |f| %>
		<tr>
			<td><%= f.name %></td>
			<td><%= f.phone %></td>
			<td><%= f.description %></td>
			<td><%= link_to "", edit_call_list_path(f), class: "glyphicon glyphicon-pencil" %> </td>
			<td><%= link_to "", call_list_path(f), data:{confirm: 'Are you sure?'}, class: "glyphicon glyphicon-trash",  method: :delete %></td>
		</tr>
	<% end %>
</table>

