<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		
			<img id="form_logo" alt="Treadmill Doctor Inc." src="/images/logo.bmp">

			<h1>662-429-0653</h1>

			
		</div>

	</div>
	<center><h2><b>Certificate of Installation</b></h2></center>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		
			<h4>Name: <%= @certificate.customer.name %></h4>
			<h4>Address: <%= @certificate.customer.street %> <%= @certificate.customer.city %>, <%= @certificate.customer.state %> <%= @certificate.customer.zip %></h4>
			<h3><b>Monitoring</b></h3>
			<h5>Account Number: <%= @certificate.account_number %></h5>
			<h5>Start Date: <%= @certificate.start_date %></h5>
			<h5>Renewal Date <%= @certificate.renewal_date %></h5>
			<% if @certificate.burglary == true %>
				Burglary <input type="checkbox" disabled="disabled" checked/>
			<% else %>
				Burglary <input type="checkbox" disabled="disabled"/>
			<% end %> 

			<% if @certificate.fire == true %>
				Fire <input type="checkbox" disabled="disabled" checked/> 
			<% else %>
				Fire <input type="checkbox" disabled="disabled"/>
			<% end %> 

			<% if @certificate.panic == true %>
				Panic Buttons (Fire, Police, Medic, Durress) <input type="checkbox" disabled="disabled" checked/>
			<% else %>
				Panic Buttons (Fire, Police, Medic, Durress) <input type="checkbox" disabled="disabled"/>
			<% end %> 


			<% if @certificate.hold_up == true %>
				Hold Up <input type="checkbox" disabled="disabled" checked/>
			<% else %>
				Hold Up <input type="checkbox" disabled="disabled"/>
			<% end %> 
			
			<br>
			<h3><b>Central Station</b></h3>
			<p style="font-size:150%">Sentrynet<br>
			1341 Sycamore View Rd, Suite 300 <br> 
			Memphis, TN 38134</p>

			<h3><b>Installed By</b></h3>
			<p style="font-size:150%">The Final Touch Security, LLC<br>
			1250 McIngvale Rd.<br> 
			Hernando, MS 38632</p>
			
			<br>
			To: <%= @certificate.to %>
			<br>
			<b>Attention:</b> <%= @certificate.attention %>
		</div>
	</div>
</div>